/* Noto Sans Font Family - Light Weight */
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Font Family - Regular Weight */
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Font Family - Medium Weight */
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Font Family - Semi-Bold Weight */
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Font Family - Bold Weight */
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Jua Font Family */
@font-face {
  font-family: 'Jua';
  src: url('./assets/fonts/Jua/Jua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}